   * { font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

*{
    background-color: #206d3700;

}

.contenedor-uno{
    display: flex;
    background-color: transparent;
    width: 1200px;
    
}

.div1 {
    flex: 0;
    padding: 0;
    background-color: #474747;
    width: 20%;
    

}s

.div2{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 40%;
    
}   

.div3{
    
    padding: 0px;
    width: 40%;
}

.item1-0{
    width: 200px;
    height: 300px;
    justify-content: left;
    position: relative;
}


