/*Selector universal, seleccionas toodo del html*/
* {
    /*la distancia entre dos elementos, todas las di*/
    margin: 0px;
}

* { font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 