/*selector espacial, es decir que con esto tenemos
una caja con informacion (variable)*/
:root{
    --color-principal: rgb(0, 195, 255);
    --boder-color: red;  

}

nav{
    /* padding es para alejar elementos peque;os dentro de otros
    y margin para alejar elementos externos  */
    padding: 10px;
    /* los valores se leen en el sentido
    de las agujas del reloj, iniciando desde las 12
    padding> 10px 20px 10px 20px
    es decir> 10px arriba
              20px a la derecha
              10px abajo 
              20px a la izquierda 
    
    Este muestra el display como se muestran los elemnetos */

     display: flex; 
     /*para volver todo fila  pero si lo quiero
    hacer mas directo hariamos:*/
    justify-content: space-between;
    /** Maneja el eje secundario de los elementos**/
    align-items: center;

}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /** espacio entre los elementos **/
    gap: 12px;
    
}

/*Las clases se utilizan para darle estilos
a un grupo de elementos*/

.:hover:hover{
font-weight: 600;
cursor: pointer;
     
}

/*Para llamar el ID debes colocar # para que el css
identifique que estas llamando esa propiedad*/
#contacto{
    background-color: white;
    color: red;
    border: 2px solid blue;
    border-radius: 25px;
}
/*Pseudo elementos
Maneja el estado de un elemento*/
/* lista de pseudoclases
:active (cuando haces click)
:focus (cuando seleccionas)
:hover (cuando se pasa el mouse)
:visited (cuando ya se visito)
:link (cuando no se a visitado)
:first-child (primer hijo)
:last-child (ultimo hijo)
*/
#contacto:hover { 
    background-color: var(--color-principal);
    cursor: pointer;
    /*transition es para darle transicion a un elemento*/
     
    
}